<ion-header>
  <ion-toolbar>
    <ion-title>Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="wrapper">


    <h3>
      This is an assignment for Exalt Technologies LTD, submitted by Adham Saheb during the 2020 summer practical training program.
    </h3>

    <div class="buttons" style="margin-left: 40%;">
      <a routerLink="/login"> <ion-button  size="medium"  >Login</ion-button> </a>
      <a routerLink="/register"> <ion-button  size="medium"  >Register</ion-button> </a>
    </div>
  

  </div>
</ion-content>
